In [5]:
import numpy as np # linear algebra
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns  # visualization tool

In [7]:
data = pd.read_csv('Data/movies.csv.zip')
data.head()

,Unnamed: 0,id,title,overview,release_date,popularity,vote_average,vote_count
0,0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,162.501,8.704,26105
1,1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,192.686,8.696,19788
2,2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,148.349,8.577,11954
3,3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,113.543,8.567,15358
4,4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,79.276,8.543,8228